[submodule "packages/nouns-contracts/lib/forge-std"]
	path = packages/nouns-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/nouns-contracts/lib/abdk-libraries-solidity"]
	path = packages/nouns-contracts/lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity
